@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: rgba(190,253,190,0.5);
}
.sidebar{
  width: 200px;
  height: 100%;
  background: #fff;
  position: fixed;
  padding-top: 50px;
}
.navbar-dark{
  background: #343a40 ;
}

.sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.sidebar ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #004e00;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
  
}    

.sidebar ul li a{
  color: #004e00;
  display: block;
  text-decoration: none;
}

.sidebar ul li a .fas{
  width: 25px;
}

.sidebar ul li:hover{
  background-color: #0c4a0c;
}
    
.sidebar ul li:hover a{
  color: #fff;
}
 
.sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.sidebar .social_media a{
  display: block;
  width: 40px;
  background: #0c4a0c;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sidebar .social_media a:hover{
  display: block;
  width: 40px;
  background: #fff;
  height: 40px;
  line-height: 45px;
  text-align: center;
  margin: 0 5px;
  color: #0c4a0c;
  border: 1px solid #0c4a0c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.navbar-light{
  background-color: #0c4a0c!important;
}
.navbar-light .navbar-nav .nav-link{
  color:#e9eab3;
}
nav .active>.nav-link{
    color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:hover{
   color:rgba(255,255,255,255);
}
nav .nav-lef {
  padding:0px 20px; 
}
.badge-light{
  background:#e9eab3;
  position: relative;
  bottom:10px;
}
.head{
  font-size: 22px;
}
.nav-c{
  color: #fff !important;
  text-decoration: none !important;
  padding-right: 15px !important;
}
.nav-c:hover{
  color:rgba(255,255,255,255);
}
@media (min-width: 992px) {
  .RqTree{
    visibility: hidden;
  }
}
.navbar-brand{
  margin:0;
}
@media only screen and (min-width: 992px) {
    .hidedesktop {
        display:none;
    }
}
/*---------------------------------------*/

/* Carousel Header Styles */
